In [1]:
print('hello')

hello

In [3]:
print('new') # Shift + enter

new

### Her kan jeg velge overskrift (3)

Eller vanlig tekst

In [5]:
list = "melk,brød,kokt skinke,løk,durum vete"

In [7]:
list.split(',')

['melk', 'brød', 'kokt skinke', 'løk', 'durum vete']

In [16]:
spam = 40

In [11]:
print( spam < 50)

True

In [30]:
if spam < 50:
    print("small spam")
else:
    print("big spam")

small spam

Hvordan bruke .format for å hente inn string, numbers, etc. inn i tekst, med en linje.

In [27]:
name = "Victor"
last_name = "Røstad"

In [29]:
'Hi {1} {0}, how are you'.format(last_name, name)

'Hi Victor Røstad, how are you'

og med nøkkler.

In [32]:
'Hi {fn} {ln}, how are you'.format(ln = last_name, fn = name)

'Hi Victor Røstad, how are you'

Hvordan bestemme lengde på desimaltall?

In [33]:
resultat = 100/777

In [34]:
resultat

0.1287001287001287

In [42]:
print("Resultatet var {r:6.3f}".format(r=resultat)) 
# {verdi:avstand:lengde f} - r = verdi, 6 = total bredde på resultatet...2 spaces + 4 tall, 3 = 3 desimaler

Resultatet var  0.129

Bruk av f-string

In [44]:
print(f'Hei {name}, heter du {last_name} til etternavn?')

Hei Victor, heter du Røstad til etternavn?

## Lister

Slå sammen lister:

In [45]:
liste = [1,2,3]
annen_liste = [4,5,6]

In [46]:
liste + annen_liste

[1, 2, 3, 4, 5, 6]

In [47]:
hel_liste = liste + annen_liste

In [48]:
hel_liste

[1, 2, 3, 4, 5, 6]

Endre objekt i liste:

In [49]:
hel_liste[0] = "En med bokstaver"

In [50]:
hel_liste

['En med bokstaver', 2, 3, 4, 5, 6]

Legge til element:

In [52]:
hel_liste.append('sju')

In [53]:
hel_liste

['En med bokstaver', 2, 3, 4, 5, 6, 'sju']

Fjerne siste element i en liste:

In [54]:
hel_liste.pop()

'sju'

In [55]:
hel_liste

['En med bokstaver', 2, 3, 4, 5, 6]

In [56]:
poppet_element = hel_liste.pop()

In [57]:
poppet_element

6

In [58]:
hel_liste

['En med bokstaver', 2, 3, 4, 5]

In [59]:
pop_foerste = hel_liste.pop(0)

In [60]:
pop_foerste

'En med bokstaver'

In [61]:
hel_liste

[2, 3, 4, 5]

Sortere lister:

In [63]:
ny_liste = ['k','a','g','d','b']
num_liste = [4,3,8,5,2]

In [65]:
ny_liste.sort()

In [66]:
ny_liste

['a', 'b', 'd', 'g', 'k']

In [67]:
num_liste.sort()

In [68]:
num_liste

[2, 3, 4, 5, 8]

## Dictionaries

In [6]:
my_dict = {'key1':'value1','key2':'value2'}

In [7]:
my_dict['key1']

'value1'

Eksempel

In [9]:
pris_sjekk = {'epler':12.59,'pærer':15.50,'druer':10.45}

In [11]:
pris_sjekk['epler']

12.59

Dictionaries kan holde mange elementer, selv lister og dictionaries inni:

In [24]:
d = {'k1':2.4,'k2':[1,2,3],'k3':{'inni':100}}

In [26]:
d['k2'][2]

3

In [25]:
d['k3']['inni']

100

In [27]:
d['k4'] = 'Eplekaramell'

In [28]:
d

{'k1': 2.4, 'k2': [1, 2, 3], 'k3': {'inni': 100}, 'k4': 'Eplekaramell'}

In [30]:
d['k1'] = 'NY VERDI'

In [31]:
d

{'k1': 'NY VERDI', 'k2': [1, 2, 3], 'k3': {'inni': 100}, 'k4': 'Eplekaramell'}

In [33]:
p = {}

In [34]:
p['nr1'] = 'FØRSTE ELLEMENT'

In [35]:
p

{'nr1': 'FØRSTE ELLEMENT'}

In [37]:
d.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [38]:
d.values()

dict_values(['NY VERDI', [1, 2, 3], {'inni': 100}, 'Eplekaramell'])

In [39]:
d.items()

dict_items([('k1', 'NY VERDI'), ('k2', [1, 2, 3]), ('k3', {'inni': 100}), ('k4', 'Eplekaramell')])

## Tuples

Tuples are immutable (kan ikke endres/muteres)

In [44]:
t = ('en',2,3.0)

In [41]:
liste = [1,2,3]

In [42]:
type(t)

tuple

In [43]:
type(liste)

list

In [45]:
t[1]

2

In [46]:
t[1:]

(2, 3.0)

In [47]:
t = ('a','a','b','c')

In [48]:
t.count('a') # telle antal a'er i t

2

In [49]:
t.index('a') # se hvilken plassering første a har i t

0

In [50]:
liste[0] = 'NY'

In [51]:
liste

['NY', 2, 3]

In [52]:
t[0] = 'NY' # fungerer ikke, da touples er immutable og ikke kan gjøres endringer inni

TypeError: 'tuple' object does not support item assignment

Touples brukes ikke såå ofte, men vil brukes når du skal ha verdier som er sikret mot feilaktig endring (globale verdier) - sikrer data integritet

## Sets

In [53]:
myset = set()

In [54]:
myset

set()

In [57]:
myset.add(1) # Legge til "1" i settet som er opprettet

In [58]:
myset

{1}

In [59]:
myset.add(2) # Legge til "2" i settet

In [60]:
myset

{1, 2}

In [61]:
myset.add(2) # Legge til "2" igjen

In [62]:
myset # Ser at "2" fremdeles kun vises én gang, da man kun kan ha unike verdier i sett

{1, 2}

Hente ut unike verdier fra en liste, med et sett

In [65]:
mylist = [2,2,2,2,4,4,4,5,5,5,1,1,1,1,1,2,2,2,2,2,3,3,3,4,4,4]

In [67]:
set(mylist) # Settet vises i ordnet rekkefølge her, men set er ikke laget for å komme ordnet

{1, 2, 3, 4, 5}

Kan også brukes på strenger for å finne unike karakterer

In [68]:
set('Mississippi')

{'M', 'i', 'p', 's'}

## Booleans

In [69]:
True # med stor T ellers er det ikke en Boolean

True

In [71]:
true

NameError: name 'true' is not defined

In [72]:
False # samme med False med stor F

False

In [73]:
type(False)

bool

In [74]:
1 > 2 # mattematisk uttrykk som svarer med en Boolean, dersom noe er eller ikke er sant

False

In [75]:
1 == 1 # to == i Python betyr an noe er likt, ett = er for å lage en variabel e.l.

True

In [76]:
b # ikke definert ennå, så vil gi feil

NameError: name 'b' is not defined

In [79]:
b = None # None kan brukes for å defienere at en variabel 'b' finnes, uten å sette verdi

In [81]:
b # nå er 'b' definert uten verdi, så vil ikke returnere feil, bare tomt

## Jobbe med txt-filer

Følgende måte å generere en txt fil på fungerer kun i Jupyter Notebook

In [83]:
%%writefile minfil.txt
Hei, dette er første linje
dette er linje nummer to 
og dette er siste og tredje linje

Writing minfil.txt

In [91]:
myfile = open('minfil.txt') # gir ingen error, da filen finnes

In [85]:
myfile = open('fil_som_ikke_finnes.txt') # gir error nr 2, manglende fil

FileNotFoundError: [Errno 2] No such file or directory: 'fil_som_ikke_finnes.txt'

Kan også få samme feil dersom man ikke har lagt inn rett filsti til filen, hvis den ikke ligger i samme folder som jupyter notebook filen din er.

In [87]:
pwd # viser filstien til hvor notebooken du jobber i er, og txt-filer du skal jobbe med bør ligge i samm folder

'C:\\Users\\victo\\Desktop\\Python\\test script'

Kan også åpne filer i en annen folder ved å legge inn hele stien i en spørring - 
F.eks. myfile = open("C:\\Users\\victo\\Desktop\\Python\\test script\\minfil.txt")

In [92]:
myfile.read() # viser alt som står i filen i én lang streng

'Hei, dette er fÃ¸rste linje\ndette er linje nummer to \nog dette er siste og tredje linje\n'

In [93]:
myfile.read() # gir deg ikke innhold. Det er fordi kommandoen leser igjennom til bunn og fortsetter derfra, altså ikke mer innhold

''

In [94]:
myfile.seek(0) # resetter markøren / leseren tilbake til punkt 0 (start)

0

In [95]:
myfile.read() # kommandoen leser nå fra markøren som nå er på starten av filen

'Hei, dette er fÃ¸rste linje\ndette er linje nummer to \nog dette er siste og tredje linje\n'

In [96]:
myfile.seek(0)

0

In [97]:
innhold = myfile.read() # lagrer innholdet som leses i en egen variabel, slik at man ikke må gå tilbake hver gang

In [98]:
innhold

'Hei, dette er fÃ¸rste linje\ndette er linje nummer to \nog dette er siste og tredje linje\n'

In [103]:
myfile.seek(0)

0

In [104]:
myfile.readlines() # gir tekst-filen linje for linje som separate objekter i en liste

['Hei, dette er fÃ¸rste linje\n',
 'dette er linje nummer to \n',
 'og dette er siste og tredje linje\n']

In [105]:
myfile.close() # filen må lukkes etter bruk, for at ikke filen skal være låst dersom man åpner filen en anne plass

In [106]:
with open('minfil.txt') as min_nye_fil: # her slipper man å tenke på å lukke filen, da den kun kopier innholdet og luker
    innhold = min_nye_fil.read()

In [107]:
innhold

'Hei, dette er fÃ¸rste linje\ndette er linje nummer to \nog dette er siste og tredje linje\n'

### Skrive til og overskrive filer

In [112]:
with open('minfil.txt',mode='w') as myfile: # mode can være r for read, w for write eller a for append
    contents = myfile.read() # bruker vi da kommando read, blir det feil når man over hatr valgt w

UnsupportedOperation: not readable

In [115]:
%%writefile nyfil.txt
EN PÅ FØRSTE
TO PÅ ANDRE
TRE PÅ TREDJE

Overwriting nyfil.txt

In [116]:
with open('nyfil.txt', mode='r') as f: # for å lese og lagre i variabel f
    print(f.read())

EN PÃ… FÃ˜RSTE
TO PÃ… ANDRE
TRE PÃ… TREDJE

In [117]:
with open('nyfil.txt', mode='a') as f: # for å legge til innhold i filen brukes mode a
    f.write('FIRE PÅ FJERDE')

In [120]:
with open('nyfil.txt', mode='r') as f: # gjentar lesing etter å ha lagt til og ser at en fjerde linje kommer på
    print(f.read())

EN PÃ… FÃ˜RSTE
TO PÃ… ANDRE
TRE PÃ… TREDJE
FIRE PÅ FJERDE

In [125]:
with open('iohjfdosj.txt', mode='w') as f: # for å overskrive filer som finnes eller eller lage ny fil om den ikke finnes
    f.write('JEG LAGDE DENNE FILEN!')

In [126]:
with open('iohjfdosj.txt', mode='r') as f: # åpner og leser filen vi lagde, skriv iog og TAB for autocomplete filnavn
    print(f.read())

JEG LAGDE DENNE FILEN!

## Comparison operators

In [127]:
2 == 2

True

In [128]:
3 != 3

False

In [129]:
4 != 5

True

In [130]:
2 > 1

True

In [131]:
2 < 1

False

In [133]:
2 <= 2

True

In [134]:
2 >= 2

True

In [137]:
# Method 1
1 < 2 < 3

True

In [138]:
# Method 2
1 < 2 and 2 < 3 # May also use parenteces (1 < 2) and (2 < 3)

True

In [139]:
1 == 1 or 2 == 3 # Only one has to be true

True

In [141]:
not(1 == 2) # Give the oposite boolean. Can also be without parenteces

True

## Statements

### IF, ELIF, ELSE

In [150]:
hungry = True

if hungry:
    print("Let's eat!")
else:
    print("I'm full")

Let's eat!

In [151]:
hungry = False

if hungry:
    print("Let's eat!")
else:
    print("I'm full")

I'm full

In [156]:
loc = 'Bank' # location is ...

if loc == 'Auto Shop':          # This is not true, goes to next check
    print('Cars are cool!')
elif loc == 'Bank':             # This condition is true, there for this gives the result
    print('Show me the money!') 
elif loc == 'Beach':            # It never comes to this, because last condition is true
    print("Let's swim!")
else:
    print('I do not know much')

Show me the money!

## For loops

In [171]:
my_children = ['Sarah', 'Alva']

for name in my_children: # Går igjennom ett og ett object i listen og gjør print av objectet
    print(i)

Alva
Alva

In [172]:
my_children = ['Sarah', 'Alva']

for name in my_children: # Går igjennom ett og ett object i listen og gjør print noe helt annet
    print('Hei')

Hei
Hei

In [173]:
my_children = ['Sarah', 'Alva']

for name in my_children: # Går igjennom ett og ett object i listen og gjør print av kombo
    print('Hei ' + i)

Hei Alva
Hei Alva

In [179]:
my_num_list = [1,2,3,4,5,6,7,8,9,10]

for num in my_num_list:
    #Check for even
    if num % 2 == 0: # delelig med 2 og at det blir 0 til overs
        print(num)
    else:
        print('Odd number')

Odd number
2
Odd number
4
Odd number
6
Odd number
8
Odd number
10

In [186]:
my_num_list = [1,2,3,4,5,6,7,8,9,10]

for num in my_num_list:
    #Check for odd
    if num % 2 != 0: # delelig med 2 og at det blir noe til overs
        print(f'Odd number: {num}') # f-string with just curly brackets {} and what variable in the curly brackets
    else:
        print(f'Even number: {num}') # f-string with just curly brackets {} and what variable in the curly brackets

Odd number: 1
Even number: 2
Odd number: 3
Even number: 4
Odd number: 5
Even number: 6
Odd number: 7
Even number: 8
Odd number: 9
Even number: 10

### Summere tall i listen

In [192]:
list_sum = 0

for num in my_num_list: # Denne løper igjennom og repeterer til alle objecter i my_num_list er gjennomgått
    list_sum = list_sum + num # Første runde er 0 + 1, slik at list_sum blir 1, så 1 + 2 (neste nummer i listen), osv.
    
print(list_sum) # Denne ligger utenfor for-loopen, ellers hadde den printet ut hver utregning på en egen linje
# til slutt er list_sum lik 0+1+2+3+4+5+6+7+8+9+10 = 55

55

### For loop with string

In [193]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

### For loop in tuple

In [197]:
tup = (1,2,3,4)

for item in tup:
    print(item)

1
2
3
4

### List of tuples, and tuple unpacking

In [198]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [199]:
len(mylist) # Number of items in mylist

4

In [202]:
for (a,b) in mylist: # or for a,b in mylist without perenteces. This is tuple unpacking
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [205]:
mylist2 = [(1,2,3),(5,6,7),(8,9,10)]

In [209]:
for a,b,c in mylist2:
    print(a)

1
5
8

### For loop in dictionary

In [210]:
d = {'apples':10, 'paers':12, 'yoghurt':5}

In [212]:
for item in d:
    print(item) # får her med kun nøklene

apples
paers
yoghurt

In [213]:
for item in d.items(): # Må ha med .items() for å få med både nølkler og verdier
    print(item)

('apples', 10)
('paers', 12)
('yoghurt', 5)

In [219]:
for key,value in d.items(): # kan da dele opp som ved tuples. Kan også bruke a,b
    print(key,value)

apples 10
paers 12
yoghurt 5

## While loops

In [228]:
i = 0
while i < 5:
    print(f'The current value of i is {i}')
    # i = i + 1, kan heller bruke den under
    i += 1
else:
    print('I IS NOT LESS THAN 5')

The current value of i is 0
The current value of i is 1
The current value of i is 2
The current value of i is 3
The current value of i is 4
I IS NOT LESS THAN 5

### Break, continue and pass

#### Pass

In [230]:
x = [1,2,3]

for num in x:
    # this is not ready yet, but will make an error

IndentationError: expected an indented block (293052486.py, line 4)

In [232]:
x = [1,2,3]

for num in x:
    pass # use pass as a place holder, when your for loop is not ready yet

#### Continue

In [240]:
mystring = 'Mississippi'

In [242]:
for letter in mystring:
    if letter == 'i': 
        continue # går tilbake til toppen, og starter ny loop der hvor if statement er True
    print(letter) # denne nås ikke på 'i', da continue hopper til toppen igjen før print

M
s
s
s
s
p
p

#### Break

In [243]:
for letter in mystring:
    if letter == 'i': 
        break # Avslutter loopen og går videre nedover i koden
    print(letter) # denne nås bare én gang, da loopen er avbrutt

M

In [247]:
x = 0

while x < 5:
    if x == 2:
        break # bryter ut av loop når statement x == 2 er True
    print(x) # kommer ikke hit etter at x == 2
    x += 1

0
1

## Usefull operators

### Range

In [252]:
for num in range(0,11,2): # Range operator har (fra,til,step)
    print(num)

0
2
4
6
8
10

In [253]:
list(range(0,13,3))

[0, 3, 6, 9, 12]

### Enumerate, instead of counting index

In [259]:
# Countinh the index of each letter
index_count = 0

for letter in 'abcde':
    print(f'At index {index_count} the letter is {letter}')
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [272]:
# Another way
index_count = 0
word = 'abcde'


for index,letter in enumerate(word):
    print(index,letter) # Returns tuples of index place and item name
    print('\n')

0 a


1 b


2 c


3 d


4 e

### Zip items together

In [275]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [277]:
for item in zip(mylist1, mylist2,mylist3): # Making tuples out of the two lists
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [278]:
# Making list doirectly of tuples from other lists
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

### In operator

In [279]:
'x' in [1,2,3] # True if x is in list

False

In [280]:
'x' in ['x','y','z']

True

In [281]:
'o' in 'hello'

True

In [282]:
'apple' in {'apple':3,'orange':4}

True

In [283]:
fruit = {'apple':3,'orange':4} # {keys:values}

In [284]:
'apple' in fruit.keys()

True

In [285]:
'apple' in fruit.values()

False

### Min and Max

In [286]:
mylist =[10,20,30,40,50]

In [289]:
min(mylist)

10

In [290]:
max(mylist)

50

## Library

### Random

In [291]:
from random import shuffle

In [292]:
mylist = [1,2,3,4,5,6,7,8,9]

In [293]:
shuffle(mylist)

In [294]:
mylist

[4, 2, 6, 5, 7, 3, 8, 9, 1]

**Random int**

In [295]:
from random import randint

In [297]:
randint(0,100)

71

In [298]:
mynum = randint(0,100)

In [299]:
mynum

10

### Input

In [305]:
result_num = input('Enter a number here: ') # the number will be saved as a string and not a int-number

Enter a number here: 13

In [307]:
# Alternative to get an int
result_num = int(input('Enter a number here: ')) # now it will be an int

Enter a number here: 39

In [309]:
type(result_num)

int

In [310]:
result_num

39

In [302]:
name = input('What is your name? ')

What is your name? Victor

In [304]:
print(f'Hi, {name}')

Hi, Victor

## List comprehensions

In [313]:
mylist = [x for x in 'Hello'] # alternative to for loop with append on every loop

In [314]:
mylist

['H', 'e', 'l', 'l', 'o']

In [327]:
mylist = [num for num in range(0,13,2)] # making a list of each number in the range

In [328]:
mylist

[0, 2, 4, 6, 8, 10, 12]

In [329]:
mylist = [num**2 for num in range(0,13,2)] # can also make square of the numbers in the range

In [330]:
mylist

[0, 4, 16, 36, 64, 100, 144]

## Methods

In [1]:
mylist = [1,2,3]

In [2]:
mylist.append(4)

In [3]:
mylist

[1, 2, 3, 4]

In [13]:
mylist.pop()

4

In [14]:
mylist

[1, 2, 3]

### Finne metoder

mylist. # Skriv dette og trykk TAB når man står etter punktum. Får da oversikt over mulige metoder til listen

#### Help function

In [20]:
help(mylist.insert) # Kan bruke help-function for å finne hjelp til metoder man ikke kjenner

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

Kan også se i Python Dokumentasjon på http://docs.python.org/3/

## Functions

Example function 1 - Easy

In [16]:
def say_hello(name='Default name'): # Can have functions with parameter "name" or just blank inside
    '''Docstring is where I can
    Explain in multiple lines what
    the function does'''
    
    print(f'Hello {name}')

In [15]:
say_hello('Victor')

Hello Victor

In [17]:
say_hello()

Hello Default name

Example function 2

In [6]:
def add_function(num1,num2):
    return num1 + num2

In [18]:
result = add_function(10,20) # The return function can add the result to a variable (result), print can not

In [19]:
print(result)

30

In [27]:
num1 = int(input('set number'))

set number67

In [28]:
type(num1)

int

## Logic

### Function to check even numbers

In [32]:
def even_check(number):
    return number % 2 == 0

In [33]:
even_check(20)

True

In [34]:
even_check(21)

False

In [45]:
# RETURN TRUE IF ANY NUMBER IS EVEN INSIDE A LIST
def check_even_list(num_list):
    
    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            pass # return False here would be WRONG as it would break out and say False at the first odd number
    return False # retutn False here will only happen if there is no even numbers, after going to else (no even numbers)

In [48]:
check_even_list([1,3,2,5])

True

In [51]:
def check_even_list(num_list):
    # return all even numbers

    even_numbers = [] # placeholder variable
    
    
    for number in num_list:
        if number % 2 == 0:
            even_numbers.append(number)
        else:
            pass
    return even_numbers

In [52]:
check_even_list([1,2,3,4,5,6,8,9])

[2, 4, 6, 8]

### Function for tuples

In [60]:
work_hours = [('Abby',100),('Billy',4000),('Cassie',800)]

In [58]:
def emplyee_check(work_hours):
    
    current_max = 0
    employee_of_month = ''
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    
    # Return
    return (employee_of_month,current_max)

In [66]:
emplyee_check(work_hours)

('Billy', 4000)

In [67]:
len(emplyee_check(work_hours))

2

In [65]:
name,hours = emplyee_check(work_hours) # Tuple unpacking with function call

In [63]:
name

'Billy'

In [64]:
hours

4000

### Interaction between functions

In [68]:
example = [1,2,3,4,5,6,7]

In [69]:
from random import shuffle

In [74]:
result = shuffle(example) # result won't work because the shuffle won't return anything new, just shuffle the list

In [72]:
example

[3, 4, 7, 6, 5, 2, 1]

In [76]:
result # result won't return anything

#### Making a shuffle function with a returned result

In [101]:
def shuffle_list(mylist):
    shuffle(mylist)
    return(mylist) #this will also return the list instead of just the shuffle

In [102]:
result = shuffle_list(example) # using the function to return a result from my example list

In [103]:
result

[5, 4, 2, 3, 7, 6, 1]

#### "Tree cup monty"

In [104]:
monty_list = [' ','O',' ']

In [105]:
shuffle_list(monty_list) # Showing the "ball" in a random location

['O', ' ', ' ']

In [106]:
def player_guess():
    guess = ''
    
    while guess not in ['0','1','2']: # Ask again if not in...
        guess = input('Pick a number: 0, 1 or 2 ')
        
    return int(guess)

In [98]:
player_guess() # Run the function, if not 0, 1 or 2 it will ask again

Pick a number: 0, 1 or 2 5
Pick a number: 0, 1 or 2 2

2

In [107]:
my_index = player_guess()

Pick a number: 0, 1 or 2 2

In [108]:
my_index

2

In [110]:
def check_guess(monty_list,guess):
    if monty_list[guess] == 'O':
        print('Hurray, you found the ball')
    else:
        print('Sorry, wrong cup')
        print(monty_list)

In [112]:
# INITIAL LIST
mylist = [' ','O',' ']

# SHUFFLE THE LIST
mixedup_list = shuffle_list(mylist)

# USER GUESS
guess = player_guess()

# CHECK GUESS
check_guess(mixedup_list,guess)

Pick a number: 0, 1 or 2 1
Sorry, wrong cup
['O', ' ', ' ']

## *args and **kwargs

In [116]:
def myfunc(a,b,c=0,d=0,e=0): # adding numbers that is default "0" if not added
    # Returns 5% of the sum of a and b
    return sum((a,b,c,d,e)) * 0.05

In [118]:
myfunc(40,60,100,3,4,5) # Can add up to 5 numbers a-e, but it'll hit a limit at 5

TypeError: myfunc() takes from 2 to 5 positional arguments but 6 were given

### how to add inlimited number of optional arguments to myfunc

In [148]:
def myfunc(*args): # returns a tuple og all given arguments when function is run
    return sum(args) * 0.05 # the word args is not needed, it can be any word with a star in front (f.eks *spam)

In [149]:
myfunc(10,24,56,32,67,86,43,24) # no limit to number of arguments called in the function

17.1

### **kwargs (Key Word Arguments)

In [145]:
def myfunc(**kwargs): # Returns a dictionary
    print(kwargs) # shows that kwags is a dictionary
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [146]:
myfunc(fruit='apple', veggie='tomato')

{'fruit': 'apple', 'veggie': 'tomato'}
My fruit of choice is apple

In [147]:
myfunc(veggie='carrot')

{'veggie': 'carrot'}
I did not find any fruit here

### USing both *args and **kwargs

In [153]:
def myfunc(*args,**kwargs):
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [154]:
myfunc(29,35,67,veggie='carrot',food='eggs')

I would like 29 eggs

In [159]:
def myfunc(x):
    out = []
    for i in range(len(x)):
        if i%2==0:
            out.append(x[i].lower())

        else: 
            out.append(x[i].upper())

    return ''.join(out)

In [161]:
range(len('Hello'))

range(0, 5)

## Map function

In [1]:
def square(num):
    return num**2

In [2]:
my_nums = [1,2,3,4,5]

In [3]:
map(square,my_nums) # Returns the place on my computer memory where the info is stored, not very usefull

In [5]:
for item in map(square,my_nums): # go through each iten with the func
    print(item)

1
4
9
16
25

In [7]:
list(map(square,my_nums)) # Gets back the items in the list as squared items

[1, 4, 9, 16, 25]

In [8]:
# another more complex function
def splicer(mystring):
    if len(mystring) % 2 == 0: # if number of characters in mystring is even
        return 'EVEN'
    else:
        return mystring[0]

In [11]:
names = ['Andy','Jacky','Philipa']

In [12]:
list(map(splicer,names))

['EVEN', 'J', 'P']

## Filter function

In [13]:
def check_even(num): # make a function that returns True or False
    return num%2 == 0 # if even it will return True, if odd it will return False

In [14]:
mynums = [1,2,3,4,5,6]

In [15]:
filter(check_even,mynums) # Returns the place on my computer memory where the info is stored, not very usefull

In [16]:
list(filter(check_even,mynums))

[2, 4, 6]

In [18]:
for n in filter(check_even,mynums):
    print(n)

2
4
6

In [22]:
my_filtered_nums = list(filter(check_even,mynums))

In [23]:
my_filtered_nums

[2, 4, 6]

## Lambda expressions

In [25]:
def square(num):
    result = num**2
    return result

In [26]:
square(3)

9

In [28]:
# simplify function
def square(num): return num**2 # simple one line func, but not as readable code

In [29]:
square(4)

16

In [30]:
# Lanmbda expression is even simpler, as it is only intended to run once and doesn't need a func name
square = lambda num: num**2 # can name it to square and it will work as before

In [31]:
square(5)

25

In [33]:
# But even better, can use it one time in conjunction with Map or Filter function
list(map(lambda num: num**2,mynums)) # will return what the one-time-function asks with the givven list

[1, 4, 9, 16, 25, 36]

In [35]:
list(filter(lambda num: num%2 == 0,mynums)) # the same with the lambda version of check_even filter

[2, 4, 6]

In [36]:
names

['Andy', 'Jacky', 'Philipa']

In [41]:
list(map(lambda name:name[0],names)) # return first caracter of each name in the list

['A', 'J', 'P']

In [43]:
list(map(lambda name:name[::-1],names)) # Reverse each name in the list

['ydnA', 'ykcaJ', 'apilihP']